* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  background-color: rgb(235, 233, 233);
}
img {
  width: 100%;
  height: auto;
}
.title {
  background-color: #fff;
  margin-right: 0%;
  margin-left: 0%;
  display: block;
  height: 70px;
  position: relative;
  box-shadow: 5px 0px 5px #000;
}
.fa-arrow-left {
  padding-left: 20px;
  padding-top: 30px;
  display: inline;
}
.logo {
  position: absolute;
  width: 50%;
  right: 28%;
  bottom: 22%;
}
.header {
  z-index: 0;
  margin-bottom: -60px;
}
/* .test {
  animation-name: slideout;
  animation-duration: 3s;
  color: blue;
} */
.main {
  /* animation-name: slideout;
  animation-duration: 3s;
  visibility: hidden;
  animation-fill-mode: both;
  animation-delay: 4s; */
  position: relative;
  background-color: rgb(235, 233, 233);
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  /* z-index: 999; */
  padding: 20px;
  /* margin-bottom: 50px; */
  /* height: 1500px; */
}
h1 {
  /* padding: 22px; */
}
h3 {
  /* padding: 0px 12px; */
}
h2 {
  /* font-weight: 900; */
}
h2,
p {
  /* padding: 0px 15px; */
  /* font-size: px; */
}
.bar {
  width: 50px;
  background-color: #99e2d0;
  height: 2px;
  margin: 5px;
  margin-left: 22px;
}
.container {
  animation-name: slideout;
  animation-duration: 3s;
  visibility: hidden;
  animation-fill-mode: both;
  /* animation-delay: 4s; */
  width: 98%;
  margin: 25px auto;
  position: relative;
  /* border: 2px solid red; */
  border-radius: 25px;
  justify-content: center;
  padding: 20px 0px;
  background-color: #fff;
  box-shadow: 5px 5px 5px rgb(209, 207, 207);
}
#c1 {
  animation-delay: 0.5s;
}
#c2 {
  animation-delay: 1s;
}
#c3 {
  animation-delay: 1.5s;
}
#c4 {
  animation-delay: 2s;
}
#c5 {
  animation-delay: 2.5s;
}
#c6 {
  animation-delay: 3s;
}
#c7 {
  animation-delay: 4.5s;
}
#c8 {
  animation-delay: 5.5s;
}
#c9 {
  animation-delay: 6s;
}
@keyframes slideout {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: visible;
  }
  100% {
    visibility: visible;
  }
}
.container:hover > .check-container {
  width: 80px;
  height: 100%;
  /* display: block; */
  visibility: visible;
}
.container:hover .test2 {
  transform: rotate(360deg);
  /* display: none; */
}
.fa-circle-check {
  /* position: absolute; */
  margin: 30px;
  color: #fff;
}
.check-container {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  position: absolute;
  padding: 0px;
  top: 0px;
  right: 0px;
  width: 0px;
  background-color: #99e2d0;
  height: 0px;
  border: 2px solid red;
  visibility: hidden;
  transition: width 2s;
}
button {
  background-image: linear-gradient(to top, #9356dc, rgba(255, 121, 218, 0.7));
  border-radius: 20px;
  display: inline-block;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  width: 50%;
  padding: 10px;
  margin-top: 60px;
  margin-left: 25%;
  background-color: #9356dc;
  box-shadow: 5px 0px 2px #9356dc;
}
.footer {
  fill: #fff;
  z-index: 1;
  position: relative;
  padding: 0px 20px;
  background-color: rgb(44, 44, 44);
}
.footer-logo {
  font-family: "shrinkhand";
  width: 20%;
  padding: 10px 0;
  color: #fff;
  font-size: 24px;
  font-weight: 900;
}
.footer img {
  display: inline;
}
.footer a {
  color: #fff;
  text-decoration: none;
  padding: 3px;
  display: block;
}
