* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "roboto", sans-serif;
}
body {
  width: 100%;
  background-color: rgb(235, 233, 233);
}
img {
  width: 100%;
  height: auto;
}
.title {
  background-color: #fff;
  display: block;
  height: 57px;
  box-shadow: 5px 0px 5px #000;
}
.top-logo {
  margin: auto;
  width: 150px;
  padding-top: 10px;
}
.fa-location-dot {
  padding-right: 15px;
}
.location {
  background-color: rgb(211, 210, 210);
  height: 60px;
  text-align: center;
  font-weight: 700;
  padding: 20px 0;
  color: rgb(34, 32, 32);
}
.three {
  background-color: rgb(221, 220, 220);
  text-align: center;
  padding: 20px 0px;
  height: 320px;
}
.three h2 {
  padding-top: 25px;
  font-weight: 800;
  font-size: 24px;
}
.three p {
  padding: 40px 0px;
  line-height: 24px;
  font-size: 16px;
  max-width: 300px;
  margin: 0 auto;
}
.btn {
  background-image: linear-gradient(to top, #9356dc, rgba(255, 121, 218, 0.7));
  background-color: #9356dc;
  border: none;
  width: 60%;
  padding: 17px;
  border-radius: 30px;
  color: #fff;
}
.btn h1 {
  padding: 10px;
}
.four {
  background-color: rgb(235, 233, 233);
  padding: 20px;
}
.four h1 {
  padding: 5px 20px;
  font-weight: 800;
}
.container {
  margin: 25px 0px;
  position: relative;
  border-radius: 25px;
  justify-content: center;
  margin-left: 30px;
  padding: 20px 0px;
  background-color: rgb(235, 233, 233);
  box-shadow: 5px 5px 5px rgb(209, 207, 207);
}
.pallete-first,
.pallete-second {
  position: relative;
}
.new-first-tag,
.new-second-tag {
  background-color: #99e2d0;
  display: inline;
  text-align: center;
  padding: 2px;
  width: 80px;
  position: absolute;
  right: 15px;
  top: 15px;
}
.palette-text {
  position: relative;
  padding-top: 13px;
  padding-bottom: 20px;
}
.heart {
  display: flex;
}
.fa-heart {
  border: none;
  position: absolute;
  display: block;
  right: 15px;
  bottom: 20px;
  padding: 15px 20px;
}
.heart {
  font-size: 18px;
}
.fa-heart:hover {
  color: #9356dc;
}
.container p {
  justify-content: center;
  font-weight: 400;
  font-size: 12px;
  margin: 5px;
}
.container-four-paragraph {
  padding-bottom: 8px;
  font-size: 12px;
}
.circle .third {
  top: 12px;
}
#third-circle-paragraph {
  padding-top: 0px;
}
.fa-mobile-screen-button,
.fa-list,
.fa-store {
  margin: 2px 30px 0px 30px;
}
.circle {
  position: absolute;
  top: 18px;
  text-align: center;
  left: -15px;
  border-radius: 50%;
  width: 30px;
  color: #fff;
  padding: 5px;
  display: inline;
  background-color: #9356dc;
}
.middle-home {
  background-color: rgb(235, 233, 233);
  justify-content: center;
  margin-bottom: 60px;
  background-size: cover;
}
.middle-home img {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
#top {
  padding: 35px 0px 10px 20px;
  font-weight: 700;
}
#stil {
  height: 225.02px;
}
.palette {
  position: relative;
  width: 90%;
  margin: auto;
  background-color: #fff;
  box-shadow: 5px 5px 5px rgb(209, 207, 207);
  border-radius: 15px;
}
.first,
.second,
.third,
.fourth {
  margin-top: 25px;
}
h1 {
  padding: 0px 15px;
  font-size: 16px;
  font-weight: 700;
}
h4 {
  padding: 8px 15px;
  font-size: 12px;
  font-weight: 400;
}
.footer {
  fill: #fff;
  height: 100%;
  padding: 20px 20px 15px 20px;
  background-color: rgb(44, 44, 44);
}
.footer-logo {
  font-family: "shrinkhand";
  padding: 10px 0;
  color: #fff;
  font-size: 24px;
  font-weight: 900;
}
.footer img {
  display: inline;
}
.footer a {
  color: #fff;
  text-decoration: none;
  padding: 3px;
  display: block;
}
.fa-utensils,
.fa-handshake-angle {
  padding-right: 10px;
}
@media screen and (min-width: 425px) {
  .top-logo {
    width: 220px;
  }
  .location {
    font-size: 24px;
    font-weight: 400;
  }
  .three h2 {
    font-weight: 700;
    font-size: 18px;
  }
  .btn {
    width: 70%;
    padding: 20px;
    font-size: 18px;
    font-weight: 600;
  }
  .four h1 {
    font-size: 18px;
    padding: 5px 0px;
    font-weight: 700;
  }
  .heart {
    font-size: 24px;
  }
  #third-circle-paragraph {
    padding-top: 5px;
  }

  h1 {
    font-size: 18px;
    font-weight: 700;
  }
  h4 {
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) {
  .btn {
    width: 300px;
  }
  .four {
    padding: 60px;
  }
  .heart {
    font-size: 24px;
  }
  .container p {
    margin-left: 22px;
  }
  .circle {
    padding: 8px;
    border-radius: 50%;
  }
  .sub-middle-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  #stil {
    height: 230.33px;
  }
}
@media screen and (min-width: 1024px) {
  .three p {
    max-width: 420px;
    font-size: 24px;
  }
  .heart {
    font-size: 36px;
  }
  .four {
    padding: 20px;
  }
  .four h1 {
    padding: 5px 0px;
  }
  .container {
    padding: 5px;
    padding: 16px;
  }
  .circle {
    top: 30px;
    left: -22px;
  }
  .circle .third {
    margin-top: 0px;
  }
  #third-circle {
    top: 0px;
  }
  .fa-regular {
    padding: 5px;
  }
  #third-circle-paragraph {
    margin: -7px;
    padding-top: 0px;
  }
  .container p {
    margin: 20px 15px 4px 15px;
    padding-bottom: 11px;
    font-size: 16px;
  }
  .btn {
    margin-top: 20px;
    width: 320px;
    font-size: 24px;
  }
  #top {
    padding-left: 20px;
  }
  .sub-fourth {
    display: flex;
  }
  .sub-middle-container {
    display: flex;
    gap: 10px;
    margin: 5px 20px;
  }
  #stil {
    height: 161.33px;
  }
}
@media screen and (min-width: 1440px) {
  .location {
    height: 70px;
  }
  .three p {
    line-height: 1.3;
    padding: 32px 0px;
  }
  .three {
    height: 400px;
  }
  .sub-fourth {
    margin: 0px 50px;
  }
  .four h1 {
    font-size: 32px;
  }
  .container p {
    font-size: 24px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  #third-circle-paragraph {
    padding-top: 0px;
  }
  #third-circle {
    top: 7px;
  }
  .circle {
    top: 38px;
  }
  .new-first-tag,
  .new-second-tag {
    padding: 7px;
    width: 109px;
    height: 39px;
    font-size: 24px;
  }
  h1 {
    font-size: 20px;
    font-weight: 900;
  }
  .heart {
    font-size: 48px;
  }
  #stil {
    height: 230.33px;
  }
  .footer-logo {
    font-size: 42px;
    margin-left: 20px;
  }
  .footer a {
    font-size: 24px;
    padding: 5px;
    margin-left: 20px;
  }
}
