* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  background-color: rgb(235, 233, 233);
  height: 1850px;
}
img {
  width: 100%;
  height: auto;
}
.title {
  background-color: #fff;
  margin-right: 0%;
  margin-left: 0%;
  display: block;
  height: 70px;
  border: 2px solid red;
  position: relative;
  box-shadow: 5px 0px 5px #000;
}
.logo {
  position: absolute;
  width: 50%;
  right: 28%;
  bottom: 22%;
}
.header {
  z-index: 0;
  margin-bottom: -60px;
}
.main {
  position: relative;
  background-color: rgb(235, 233, 233);
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  z-index: 999;
  margin-bottom: 50px;
  /* height: 1500px; */
}
h1 {
  padding: 22px;
}
h3 {
  padding: 0px 12px;
}
h2 {
  font-weight: 900;
}
h2,
p {
  padding: 0px 15px;
  font-size: 4px;
}
.bar {
  width: 50px;
  background-color: ;#99e2d0
  height: 2px;
  margin: 5px;
  margin-left: 22px;
}
.container {
  width: 92%;
  margin: 25px 0px;
  position: relative;
  /* border: 2px solid red; */
  border-radius: 25px;
  justify-content: center;
  margin-left: 12px;
  padding: 20px 0px;
  /* display: none; */
  background-color: #fff;
  box-shadow: 5px 5px 5px rgb(209, 207, 207);
  /* animation-name: show;
  animation-duration: 3s; */
}

.container:hover > .green-color {
  opacity: 1;
  visibility: visible;
  width: 80px;
}
/* .container:hover > .fa-circle-check {
  visibility: visible;
  opacity: 1;
  position: absolute;
  left: 30%;
  top: 35%;
} */
.fa-circle-check {
  position: absolute;
  left: 30%;
  top: 35%;
  color: #fff;
  /* display: inline-block; */
  /* visibility: hidden; */
  /* opacity: 1; */
}
.green-color {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  height: 100%;
  /* border: 2px solid red; */
  background-color: #99e2d0;
  width: 0px;
  margin: 0px auto;
  position: absolute;
  top: 0px;
  right: 0px;
  /* visibility: hidden; */
  opacity: 999;
  /* transition: width ease-in-out 0.3s visibility ease-in-out 0.3s opacity
    ease-in-out 0.3s alternate; */
  /* left: 0px; */
  transition: width 2s;
}
button {
  background-image: linear-gradient(to top, #9356dc, rgba(255, 121, 218, 0.7));
  border-radius: 20px;
  display: inline-block;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  width: 50%;
  padding: 10px;
  margin-top: 60px;
  margin-left: 25%;
  background-color: #9356dc;
  box-shadow: 5px 0px 2px #9356dc;
}
.footer {
  background-color: rgb(44, 44, 44);
  height: 350px;
}
.footer-logo {
  width: 50%;
  padding: 15px;
  color: #fff;
}
.footer img {
  display: inline;
}
a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: block;
}
